.display-cards {
    flex: 0 0 calc(100% / 5); /* Shows only 5 items at a time */
    text-align: center;
    max-width: 10rem; /* Adjust the size as needed */
}

.bg-custom-green {
    background: #bdd7ae;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
